{% extends 'base/base.html' %} {% load static %} {% block TopNav %} {% endblock TopNav %} {% block Body %}
<!-- Ask-Quest-Form -->

<form method="post">
    {% csrf_token %}
    <div class="mb-3 row justify-content-center">
        <label for="staticEmail" class="col-12 col-form-label">Quest Title:</label>
        <div class="col-12">
            <input type="text" class="form-control" id="staticEmail" name="title" />
            {% if form.title.errors %}
            <ul class="alert alert-danger">
                {% for error in form.title.errors %}
                <li>
                    <small>{{error | escape}}</small>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <label for="staticEmail" class="col-12 col-form-label">Description:</label>
        <div class="col-12">
            <textarea id="staticEmail" class="form-control" rows="7" name="description"></textarea>
            {% if form.description.errors %}
            <ul class="alert alert-danger">
                {% for error in form.description.errors %}
                <li>
                    <small>{{error | escape}}</small>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 col-md-4 col-lg-1">
            <input type="submit" class="btn btn-info w-100" id="staticEmail" value="Ask" />
        </div>
    </div>
</form>
{% endblock Body %}