{% extends 'base/base.html' %} {% load static %} {% block TopNav %} {% endblock TopNav %} {% block Body %}
<!-- Quest-List -->

<div class="row">
  <div class="col-6 mb-3">
    <div class="card text-center">
      <div class="card-header">Marci</div>
      <div class="card-body">
        <h5 class="card-title">how make div center using css</h5>
        <a class="card-link" href="#">more -></a>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
</div>
{% endblock Body %}