{% extends 'base/base.html' %} {% load static %} {% block TopNav %} {% endblock TopNav %} {% block Body %}
<!-- Quest-List -->

<div class="row">
    {% for q in quest %}
    <div class="col-6 mb-3">
        <div class="card text-center">
            <div class="card-header">
                {{q.user}}
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    {{q.title}}
                </h5>
                <a class="card-link" href="{% url 'quest' q.id %}">more -></a>
            </div>
            <div class="card-footer text-muted">
                {{q.dateTime}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock Body %}