{% extends 'base/base.html' %} {% load static %} {% block TopNav %} {% endblock TopNav %} {% block Body %}
<!-- Single-Quest -->

<div class="row">
    <div class="col-12 mb-3">
        <div class="card text-center">
            <div class="card-header">{{quest.user}}</div>
            <div class="card-body">
                <h5 class="card-title">{{quest.title}}</h5>
                <p class="card-text">{{quest.description}}</p>
            </div>
            <div class="card-footer text-muted">
                <!-- Comment-Part -->

                <div class="container mt-3">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                            <div class="text-left">
                                <h6>All Answer({{answers|length}})</h6>
                            </div>
                            {% for answer in answers %}
                            <div class="card p-3 mb-2 text-center">
                                <div class="d-flex flex-row justify-content-center">
                                    <img src="{% static 'asset' %}{{answer.image.image.url}}"
                                        height="40" width="40" class="rounded-circle" alt="user-image" />
                                    <div class="d-flex flex-column ms-2">
                                        <h6 class="mb-1 text-primary">{{answer.user.first_name}}</h6>
                                        <p class="comment-text mt-3">
                                            {{answer.answer}}
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row">
                                        <span class="text-muted fw-normal fs-10">{{answer.dateTime}}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock Body %}